/*****************

comon

*****************/

body{
    font-family: monospace, sans-serif;
}

.font-primary{
    color: #00abae;
}

.title-icon{
    font-size: 20px;
    font-weight:bold;
}
p{
    font-size: 14px;
    color: blue;
}

h2{
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
    }

    a.font-black{
        color: black !important;
    }

/*****************

About

*****************/

#about{
    margin: 60px auto;
    max-width: 400px;
    text-align: center;
}

#about img{
    border-radius: 50%;
    width: 100px;
    margin-bottom: 10px;
}

#about .name{
    font-size: 18px;
    color: black;
    font-weight: bold;
}
#about .vacation{
    font-size: 14px;
    color: #a8a8ab;
    margin-bottom: 10px;

}
#about.skills{
    font-size: 12px;
    color:yellowgreen;
    margin-bottom: 10px;

}
#about.email{
    margin-top: 14px;
    font-size: 30px;
}
#about .icons{
    margin-top: 15px;
    font-size: 25px;
}
#about .icons a{
    color: black;
}
/********************

Project

*******************/
#Project{
    margin: 60px auto;
    width: 80%;

}
#Project h2{
    text-align: center;

}
#Project .card img {
    width: 100%;
}
#Project .card-title{
    font-weight: bold;
}